@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #212121;
  font-weight: 400;
  background: #D1C4E9;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #512DA8;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

ld {
  padding-left: 0;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  vertical-align: middle;
}


/* Login */
.userIdentity {
    float:right;
    width:225px;
    margin:1rem;
}
.userIdentity img {
    float:left;
    width:70px;
    height:70px;
    border-radius:50%;
    margin: 0 1rem;
}

/* Nav */
.nav {
    clear: both;
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
li.active {
    color: #512DA8;
    font-weight: 700;
}
.nav ul li {
    width: 25%;
    text-align: center;
    padding: 10px;
    float: left;
    flex: 1 1 33%;
}
.nav ul li a {
    text-align: center;
    padding: 10px;
    margin: 1rem 1rem 0 1rem;
    font-size: 110%;
}

.navActive {
    color: #512DA8;
    font-weight: 700;
} 

.nav ul li:hover {
    color: #512DA8;
    font-weight: 700;
    transition: .5s background ease-in;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.newPollIcon {
    border-radius: 50%;
    background: #512DA8;
    color: #fff;
    float:right;
    padding: 1rem;
    cursor: pointer;
}
/*
.nav ul li.newFormIcon:hover {
    background: none;
    cursor: pointer; 
}
.newFormIcon svg {
    background: #512DA8;
    border-radius: 50%;
    fill: #fff;
    padding: .3rem;
}
*/

/* Dashboard */
.dashboard {
    max-width: 800px;
    width:800px;
    border: 2px solid #D1C4E9;
    border-radius: 5px;
    min-height:300px;
    clear:both;
    margin:0 auto;
} 

/* Polls & Responses */
.pollsList {
    padding: 2rem;
}

.pollsList h3 {
    color:#512DA8;
    font-weight:700;
}
.pollContainer {
    border: 1px solid #512DA8;
    width: 70%;
    margin: 1rem auto;
}
.poll p {
    font-size: 130%;
    flex: 0 0 50%;
}
.poll p:nth-child(1) {
    text-align:left;
}
.poll p:nth-child(2) {
    text-align:center;
}

.poll {
    display: flex;
    /* width: 80%; */
    margin: 0 auto;
    padding: 1rem;
}

/*
.pollYN p{
    width:75px;
}

.pollYN {
    display:flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.pollsList hr {
    color: #D1C4E9;
    border: 1px solid #D1C4E9;
    height: 0;
}
*/
.pollBtn {
    font-size: 90%;
    color: #212121;
    padding: 5px;
    background: #D1C4E9;
    border: 2px solid #757575;
    cursor: pointer;
    margin: 2rem 0 0 0;
}

.pollBtn:hover {
    color: #512DA8;
    background: #BDBDBD; 
}
/*
.myResponse {
    background-image: URL('check.svg');
    background-position-x: center;
    background-repeat: no-repeat;
}*/

/* Leaderboard */

.leadersList {
    padding: 2rem;
}

.leadersList h3 {
    color:#512DA8;
    font-weight:700;
}

.leaders.head {
    font-weight: 700;
}

.leaders {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.leaders p {
    flex: 1 0 20%;
    text-align: center;
}
.leaders p:nth-child(1) {
    flex: 0 0 40%;
    text-align:left;
}

/* Login Form */
.signinForm {
    text-align: center;
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
}

.signinForm h2 {
    color: #512DA8;
}
.signinForm h3 {
    color: #212121;
}
.signinForm select, input {
    padding: .5rem 1rem;
}
.signinForm form {
    border: 1px solid #D1C4E9;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 5px;
}
.signinForm button, .userIdentity button, .newPollForm button {
    display: block;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: none;
    background: #512DA8;
    color: #FFF;
}

.userIdentity button {
    display: inline-block;
}

.signinForm button:hover, .userIdentity button:hover {
    background: #D1C4E9;
    color: #212121;
    cursor: pointer;
}


/* New Poll Form */
.newPollForm {
    text-align: center;
}
.newPollForm h2 {
    margin-top: 2rem;
}
.newPollForm input {
    padding: .8rem 1rem;
    font-size: 130%;
    width: 400px;
}

/* Poll Details */
.details {
    font-size: 110%;
    color: #fff;
    background: #512DA8;
    padding: 1rem;
    border-radius: 5px;
}
.myResponseDetails {
    /*background-image: URL('check.svg');
    background-position-x: left;
    background-repeat: no-repeat;*/
    width: 23px;
    height: 20px;
    display: inline-block;
    margin-right: 1rem;
}